---
import Card from '../components/Card.astro';
import InstagramAnimation from '../components/instagramAnimation.astro';
import FinalSection from '../components/finalOfSection.astro';
---

<section id="aboutMe">
    <h2 class="sectionTitle">Sobre mí</h2>
    <div class="gridClass">
        <div class="firstlist">
            <Card title='Formación'>
                <ul>
                    <li>Cuento con 1 año de experiencia como desarrollador web</li>
                    <li>Graduado de tecnicatura en análisis de sistemas</li>
                    <lI>Complete el curso de programación "111Mil programadores"</li>
                </ul>
            </Card>
        </div>
        <div class="secondlist">
            <Card title='datos personales' >
                <ul>
                    <li>Edad: 25 años</li>
                    <li>Ubicación: Buenos Aires, Argentina</li>
                </ul>
            </Card>
        </div>
        <div class="thirdlist">
            <Card title='+' >
                    <ul>
                        <li>capacidad para trabajar en equipo</li>
                        <li>Comunicación efectiva</li>
                        <li>Aprendo rapidamente de forma autodidacta</li>
                    </ul>
            </Card>
        </div>
        <div class="fourlist">
            <Card title='Apitudes'>
                <ul>
                    <li>Soy un apasionado por el desarrollo web, fanatico del código limpio y amante del aprendizaje continuo</li>
                </ul>
            </Card>
        </div>
        <div class="fivelist">
            <Card title='Extra'>
                <ul>
                    <li>Conocimiento de prácticas de testing y refactorización</li>
                    <li>Conocimiento de metodologías ágiles</li>
                </ul>
            </Card>
        </div>
    </div>
    <InstagramAnimation />
</section>
<FinalSection color="#24211c" direction="-1"/>

<style>
    .gridClass{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        grid-auto-rows: minmax(100px, auto);
        margin: 0 8px;
    }

    .firstlist{
        grid-column: 1/3;
        grid-row: 1;
    }

    .secondlist{
        grid-column: 1;
        grid-row: 2;
    }

    .thirdlist{
        grid-column: 1;
        grid-row: 3;
    }

    .fourlist{
        grid-column: 2;
        grid-row: 2/4;
    }

    .fivelist{
        grid-column: 1/3;
        grid-row: 4;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    p{
        color: #000;
    }

    ul{
        color: #000;
        list-style:inside;
        margin-block: 0;
        padding-inline-start: 8px;
    }

    li{
        font-weight: bold;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.76);
    }

    .finalSection{
        margin-bottom: -100px;
        transform: scaleX(-1);
    }

</style>